// VARIABLES
// -----------------------
$mainColorLight: #dbf9fd;
$mainColorDark: #0f2027;
$mainButtonColor: #006d80;
$formLabelColor: #03c4f4;
$successColor: #00c853;
$secondaryColor: #03c4f4;
$navbarHeight: 50px;
