@import "./partials/variables";

.nav {
  height: $navbarHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $mainColorDark;

  & > .nav_header {
    display: inline;
  }
  & > .nav_header > .nav_title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    font-family: "Merienda", cursive;
    font-weight: 700;
    font-size: 1.3em;
  }

  & > .nav_btn {
    display: none;
  }

  & > .nav_links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  & > .nav_links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }

  & > .nav_links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  & > #nav_check {
    display: none;
  }

  @media (max-width: 600px) {
    & > .nav_btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    & > .nav_btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    & > .nav_btn > label:hover,
    & #nav_check:checked ~ .nav_btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    & > .nav_btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    & > .nav_links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.5s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    & > .nav_links > a {
      display: block;
      width: 100%;
    }
    & > #nav_check:not(:checked) ~ .nav_links {
      height: 0px;
    }
    & > #nav_check:checked ~ .nav_links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
}
